table{
 border-collapse: collapse;
 border: 5px solid  rgb(0, 179, 0);
 font-size:x-large;
 margin: 10px;
}

th, td {
  border-bottom: 1px solid #ddd;
}

td{
  border-right-width: 0.5px;
  border-right-style:solid;
  border-right-color: black;
}

td:nth-child(1){
  width: 200px;
  text-align: center;
}

td:nth-child(2){
  width: 120px;
  text-align: center;
}

th {
  background-color: rgb(0, 179, 0);
  color: white;
  font-style: italic;
}

tr:hover {
  background-color: antiquewhite;
}
